.calendar-header {
  background-color: blue;
  color: white;
}

.box {
  padding: 20px;
  box-sizing: border-box;
}

.box:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}

.calendar-days {
  margin: 0 auto;
}
